.details-produk {
  h2 {
    margin-top: 8%;
    margin-bottom: 2%;
    font-weight: 600;
    color: #006203;
    font-size: 25px;
  }

  .details-produk {
    margin: 5px;
    box-shadow: 0px 0px 10px 1px #0000003b;

    .text-price {
      font-weight: 600;
      color: #006203;
    }

    .text-produk {
      font-weight: 300;
      font-size: 1.2rem;
      color: #000;
    }
  }

  .card {
    box-shadow: none;
    border-radius: 15px;
    margin: 0px auto;

    .text-price {
      font-weight: 600;
      color: #006203;
    }
    .text-product {
      font-weight: 500;
      font-size: 1.2rem;
      color: #000;
    }

    .text-total {
      font-weight: 600;
      color: #006203;
    }

    .card-info {
      font-weight: 600;
      font-size: 1.2rem;
      color: #006203;
      text-align: start;
    }
  }

  .card-product {
    box-shadow: none;
    border-radius: 15px;
    height: 500px;

    .carousel {
      margin-top: 5%;

      img {
        width: 100%;
        height: 400px;
        padding: 15px;
      }
    }
  }

  button {
    i {
      font-size: 2rem;
      color: #000;
      display: none;
    }

    &:hover {
      i {
        display: block;
      }
    }
  }
  .text-total {
    font-weight: 600;
    color: #006203;
  }

  .btn {
    box-shadow: none;
  }

  .btn-nego {
    background-color: #ffcc00;
    color: #000;
    border-radius: 15px;
    width: 150px;

    &:hover {
      background-color: #ffcc00;
      color: #000;
      font-weight: 600;
    }
  }

  .btn-order {
    background-color: #0c710f;
    color: #fff;
    border-radius: 15px;
    width: 150px;

    &:hover {
      background-color: #0c710f;
      color: #fff;
      font-weight: 600;
    }
  }

  .btn-back {
    background-color: #cecece;
    color: #000;
    border-radius: 15px;
    width: 150px;

    &:hover {
      background-color: #cecece;
      color: #000;
      font-weight: 600;
    }
  }
}

@media screen and (max-width: 750px) {
  .details-produk {
    .card-product {
      box-shadow: 0px 0px 10px 1px #0000003b;
      border-radius: 15px;
      width: 100%;
      height: 95%;
      margin-bottom: 5%;

      .card-title {
        font-weight: 600;
        font-size: 1.2rem;
        color: #006203;
        text-align: start;
      }

      .carousel {
        margin-bottom: 3%;

        img {
          margin-bottom: 25px;
          margin-top: -10px;
          width: 100%;
          height: 300px;
          padding: 28px;
        }
      }
    }
  }

  // .card-product {
  //   box-shadow: none;
  //   border-radius: 15px;

  //   .carousel {
  //     img {
  //       width: 100%;
  //       height: 200px;
  //       padding: 15px;
  //     }
  //   }
  // }
}
