.card-cek {
  border-radius: 20px;
  width: 100%;
  height: 140px;
  margin: 20px auto;

  .card-icon {
    img {
      width: 90px;
    }
  }
  .card-text {
    margin: 5px 0px 5px 0px;
    .status-title {
      font-weight: 600;
      color: #000;
      font-size: 25px;
    }
    .status-count {
      font-weight: 600;
      color: #000;
      font-size: 30px;
    }
  }
}

.pagination {
  margin-top: 5%;
  text-decoration: none;

  .page-item {
    .page-link {
      color: #000;
    }
  }
}

.input-filter {
  width: 40%;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-right: 8px;

  input {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 8px;
  }

  select {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }

  .btn-search {
    margin-left: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
}
.produk-list {
  .title-produk {
    font-weight: 600;
    color: #006203;
    font-size: 25px;
  }
}

.card-produk {
  border-radius: 15px;
  margin: auto;
  max-height: 550px;
  border: 1px solid #edecec;
  box-shadow: none;
  width: 100%;

  .btn-cek {
    background-color: #006203;
    color: #fff;
    border-radius: 15px;
    width: 100px;
    border: 1px solid #ccc;
    font-size: 15px;

    &:hover {
      background-color: #006203;
      color: #fff;
      font-weight: 600;
    }
  }
}

.card-produk:hover {
  border-radius: 15px;
  margin: 5px auto;
  max-height: 550px;
  border: 1px solid #006203;
  transform: scale(1.02);
  transition: 0.5s;
}

@media screen and (max-width: 750px) {
  .card-cek {
    width: 100%;
    height: 100px;
    justify-content: start;
    margin-top: 5%;

    .card-icon {
      img {
        width: 45px;
        margin-top: 5%;
      }
    }
    .card-text {
      width: 100%;
      text-align: start;
      .status-title {
        font-size: 12px;
        width: 100px;
      }
      .status-count {
        font-size: 15px;
        margin-top: -8px;
      }
    }
  }
  .input-filter {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 8px;
  }
  .title-produk {
    font-weight: 600;
    color: #006203;
    margin-bottom: 5%;
    font-size: 19px;
    text-align: center;
  }

  .card-produk {
    border-radius: 15px;
    max-height: 550px;
    border: 1px solid #edecec;
    box-shadow: none;
    width: 100%;
    font-size: 8px;

    .badge {
      font-size: 16px;
      padding: 5px;
    }

    .btn-cek {
      width: 100%;
      padding: 2px;
      border-radius: 15px;
      border: 1px solid #ccc;
    }
  }
}
