h5 {
  font-weight: 600;
  font-size: 1.8rem;
  color: #006203;
}

.table {
  margin-top: 2%;
}

@media screen and (max-width: 750px) {
  h5 {
    font-weight: 600;
    font-size: 1.5rem;
    text-align: center;
  }
  .table {
    margin-top: 5%;
    flex-wrap: nowrap;
  }
}
